.buyMain{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 3.5vw 1vw 3.5vw;
    font-family: 'Manrope', serif;
}

.buyMain p{
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 1.2vw;
    position: relative;
    width: 15%;
}

.mintMain{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 3.5vw 1vw 3.5vw;
    font-family: 'Manrope', serif;
}

.mintMain p{
    margin: 0;
    font-weight: 600;
    font-size: 1.2vw;
    position: relative;
}

.mintTime {
    width: 20%;
    text-align: right;
    padding: 0 3.4vw 0 0;
}

.mintDate {
    width: 20%;
    text-align: right; 
    left: 5vw;
}

.mintFrom {
    width: 20%;
    text-align: right;
}

.mintEvent {
    width: 17%;
    text-align: center;
}

.transMain{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 3.5vw 1vw 3.5vw;
    font-family: 'Manrope', serif;
}

.transMain p{
    margin: 0;
    font-weight: 600;
    font-size: 1.2vw;
    position: relative;
    width: 20%;
    text-align: right;
}

.transEvent {
    text-align: center !important;
    right: 13px;
}

.transFrom {
    left: 4vw;
}

.transTo {
    left: 1.5vw;
}

.transDate {
    text-align: center !important;
    left: 4.2vw;
}

.transTime {
    text-align: center !important;
    left: 2.1vw;
}

