.Header{
    color: black !important;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw 0 2vw;
    position: relative;
    left: 5vw;
    top: 1.5vw;
    font-family: 'Manrope', sans-serif;
}

.menu{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

.menu p{
    cursor: pointer;
    color: black !important;
}

.Login{
    background: transparent;
    color: black;
    font-weight: 600;
    font-size: 1vw;
    border: none;
}

.SignUp{
    border: none;
    padding: 0.5vw 1.5vw;
    font-weight: 600;
    font-size: 1vw;
    background-color: black;
    color: white;
}

.buttons{
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}